:root {
    --main-color: rgb(255 0 0);
}

main{
    width:100%
}

@media screen and (min-width: 576px) and (max-width: 1200px){

}


/*Abel része*/
@media (hover: hover) {
    .TPkep:hover {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}

.TP-primary {
    color: var(--main-color);
}

.TP-btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.TP-btn-primary:hover {
    background-color: rgb(150 0 0);
    border-color: rgb(150 0 0);
    margin-left: 20px;
}
.TP-btn-primary:active {
    background-color: rgb(100 0 0);
    border-color: rgb(100 0 0);
    margin-left: 20px;
}

.TP-body {
    background-image: url("../kepek/bg2.jpg");
    background-size: cover;
}

.i {
    color: red;
    position: relative;
}

.i:before {
    content: "i";
    position: absolute;
    color: black;
}

.navbar-brand{
    background-color: red;
    color: rgb(255 255 255);
}
.navbar-brand:hover{
    background-color: red;
    color: rgb(255 255 255);
}
.navbar-brand:visited{
    background-color: red;
    color: rgb(255 255 255);
}