/*fontok ne töröld ki!*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Schoolbell&display=swap');

/*<!-- Márk része --> */

/* Media Querik 270 PIXELIG */
@media(max-width: 270px) {
    #kartya_novekves .row.my-2 .col-6 {
        width: 100%;
        padding: 0;

    }

    #kartya_novekves .btn {
        width: auto;
        margin-bottom: auto;
    }

    #arak {
        width: 100%;
    }

}

@media (max-width: 991px) {

    .search-input {
        width: 25%;
    }

    .dropdown-menu {
        width: fit-content;
    }
}

/* Media Querik 576-tól 768 PIXELIG */
@media (min-width: 576px) and (max-width:768px) {
    #kartya_novekves .row.my-2 .col-6 {
        width: 100%;
        padding: 0;

    }

    #kartya_novekves .btn {
        width: auto;
        margin-bottom: auto;
        font-size: 0.9rem;
        padding: 5px 10px;
    }
}

main {
    background-image: url(../Kepek/Fooldal/hatter.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.akciosav {
    height: 35px;
    background-image: url(../Kepek/Fooldal/sale.png);
    background-repeat: repeat-x;
    background-size: contain;
}

#senoropro_alatt {
    color: white;
    font-style: italic;
    font-size: 1.1rem;
}

#karacsony {
    max-width: 430px;
    font-size: 1.2rem;
    color: rgb(2, 2, 2);
    background-size: contain;
    background-color: yellow;
}


#karacsonybanner {
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url(../Kepek/Fooldal/kepgyujto/sale.png);
}

a {
    text-decoration: none;
}
.image-container1,
.image-container2,
.image-container3,
.image-container4 {
    cursor: pointer;
}

.row>.btn.btn-primary {
    margin-top: 2rem;
}

.image-container1 img:hover {
    content: url(../Kepek/Fooldal/Csempe/laptop900x670.png);
    overflow: hidden;
}

.image-container2 img:hover {
    content: url(../Kepek/Fooldal/Csempe/kod900x670.png);
    overflow: hidden;
}

.image-container3 img:hover {
    content: url(../Kepek/Fooldal/Csempe/telefon900x670.png);
    overflow: hidden;
}

.image-container4 img:hover {
    content: url(../Kepek/Fooldal/Csempe/gpu900x670.png);
    overflow: hidden;
}

h5 {
    color: rgba(var(--bs-info-rgb)) !important;
    font-size: 3rem;
    text-shadow: 0 0 15px rgb(40, 81, 156), 0 0 15px rgb(40, 81, 156);
}

p {
    text-align: center;
}

.alul a {
    color: white;
    font-style: italic;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.cim>caption {
    text-decoration: dotted white;
    color: aqua
}

h2 {
    text-decoration: underline;
}

/* kártyákban a leírás */
h3 {
    text-align: start;
    font-size: 1rem;
}

/* kártyákban a gombok */
.btn-primary {
    background-color: rgb(255, 187, 0);
    border-color: rgb(255, 204, 63);
    color: black;
    align-items: start;
}

.btn-primary:hover {
    background-color: rgb(255, 204, 63);
    border-color: rgb(255, 204, 63);
    color: black
}

.btn-primary:active {
    background-color: rgb(255, 204, 63);
    border-color: rgb(255, 204, 63);
    color: black
}

/* kártyákban az árak */
.arak.col-6 {
    color: rgb(187, 3, 3);
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

/* kártyák növekedése */
.kartya_novekves {
    transition: 0.3s ease;
}

.kartya_novekves:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.kartya_novekves.row {
    height: auto;
}

.topnovekves:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.topnovekves {
    transition: 0.3s ease;
}

.negytop {
    color: darkviolet;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Banner design-ja */
.banner {
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    /* Flexbox szöveg vertikális középre*/
    align-items: center;
    /* Vertikálisan középre */
    justify-content: center;

    /* KIJELÖLÉS LETILTÁSA A BANNEREN */
    pointer-events: none;
    user-select: none;

}

.banner-text {
    background-color: rgb(255, 187, 0);
    text-transform: uppercase;
    text-align: center;
    background-size: cover;
    font-size: 2rem;
    color: rgb(173, 8, 8);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    /* Szövegárnyék */
    /* KIJELÖLÉS LETILTÁSA A BANNER SZÖVEGÉN */
    pointer-events: none;
    user-select: none;
}

.lablec {
    background-color: #1c2331;
    color: white
}

.lablec_felett {
    display: flex;
    background-color: #6451ceb9;
    text-align: center;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

hr {
    width: 100%;
    background-color: #7c4dff;
    height: 2px;
    display: inline-block;
}

.kopirajt {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    height: 25px;
    justify-content: center;
    font-style: italic;
}


/*  KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS    KÖZÖS  */

.pricing-table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.plan {
    background-color: black;
    border-radius: 5px;
    color: white;
    margin: 15px;
    padding: 30px;
    text-align: center;
    width: 300px;
}

.plan h3 {
    margin-bottom: 10px;
}

.plan a {
    background-color: #0096ff;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.plan a:hover {
    background-color: #0067c2;
}

.premium {
    background-image: linear-gradient(135deg, rgb(180, 22, 86), rgba(255, 166, 0, 0.603));
}


/*Abel része*/

#termekek-iparnak {
    font-family: 'IBM Plex Serif', serif;
}

#termekek-fiataloknak {
    font-family: 'Schoolbell', cursive;
}

.TP-body {
    background-image: url("../Kepek/laptop-kepek/TPbg2.jpg");
    background-size: cover;
}

.i {
    color: red;
    position: relative;
}

.i:before {
    content: "i";
    position: absolute;
    color: black;
}

#navos {
    background-color: var(--main-color);
}

#navos {
    background-color: var(--main-color);
}

#navos {
    background-color: var(--main-color);
}

#navos {
    background-color: white;
}

#foelem {
    background-image: none;
    background-color: black;
}

/*flip card*/
.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

#doboz {
    display: none;
    position: fixed;
    flex-direction: column-reverse;
    width: 50%;
    height: 5rem;
    background-color: black;
    color: white;
    overflow-y: scroll;
    padding: 1rem;
    scroll-padding: 10px;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    justify-items: center;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
#szamlalo{
    background-color: #d71e23;
    text-align: center;
    color: white;
    padding: .2rem;
}